body{
	margin:0 auto;
	width:800px;
	height:1700px;
}


h1{
	margin:0;
	padding:0;
	text-align: center;
	color:#FFFFFF;
}

#divHeader{
	border:1px solid #BBBBBB;
	margin:0 auto;
	padding:20px;
	width:760px;	
	background-color: #5677FC; 	
}

#divMain{
	margin:0 auto;
	padding:20px;
	width:760px;
	height:1500px;
	border:1px solid #AAAAAA;
}
