body{
	margin:0 auto;
	width:800px;
	height:2100px;
}


h1{
	margin:0;
	padding:0;
	text-align: center;
	color:#FFFFFF;
}

h2{
	margin:0;
	padding:0;
}

li{
	margin-bottom:10px;
}

#divHeader{
	border:1px solid #BBBBBB;
	margin:0 auto;
	padding:20px;
	width:760px;	
	background-color: #5677FC; 	
}

#divProfile{
	margin:0 auto;
	padding:20px;
	width:760px;
	border:1px solid #AAAAAA;
}

#divMain{
	margin:0 auto;
	padding:20px;
	width:760px;
	height:1800px;
	border:1px solid #AAAAAA;
}
